/* Font */
.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
  }


/* Drag and Drop*/
.sortable-item {
    cursor: move;
}
.blue-background-class {
    opacity: 0.6;
}

/* Smooth Preview Image */
#imageModal {
    transition: all 0.3s ease-in-out;
}

#modalImage {
    transition: all 0.3s ease-in-out;
}

#modalImage {
    transform-origin: center;
}